################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FARApplication.Web/obj/Debug/netcoreapp3.1/Razor/Views/Login/Login.cshtml.g.cs
/FARApplication.Web/obj/Debug/netcoreapp3.1/Razor/Views/FAR/Index.cshtml.g.cs
