@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
    @using Microsoft.AspNetCore.Mvc.Rendering
    @model FARApplication.Web.Models.FAR
    @{
        Layout = null;
    }
    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
    }
    <!DOCTYPE html>
    <html>
    <head>
        <title>FAR Requst</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/site.css" />

    </head>
    <body>
        <form asp-controller="FAR" asp-action="Index" method="post" enctype="multipart/form-data">
            <div style="background-color: black" class="container-fluid">
                <asp-for></asp-for>
                <button class="close-btn" type="button" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");"><i class="fa fa-close"></i> Close</button>
                <button class="save-btn" type="submit" action="Far/Index"><i class="fa fa-save"></i> Save</button>
                <button class="save-close-btn" type="submit"><i class="fa fa-save"></i> Save & Close</button>
                <button class="submit-button" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit for Approval</button>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <img class="ibmimg" style="width:120px" src="~/asset/images/IBM-Emblem.png">
                    </div>
                    <div class="col-lg-5">
                        <h2 class="heading"><b>FAR Requests Application</b></h2>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <p class="logged-in-user"><b>Welcome </b><span> @HttpContextAccessor.HttpContext.Session.GetString("UserEmail")</span></p>
                    </div>
                    <div class="col-lg-5">
                        <div class="far-reqest-date" id="currentdate"></div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <hr style="height:3px;margin-top: -4px;border:none;color:grey;background-color:#333;" />
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5"></div>
                    <div class="col-lg-5">
                        <p style="white-space: nowrap ;text-align: right;" id="warning"><span id="red-text">Note:</span> Fields marked with <span id="red-text">*</span> are mandatory</p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div style="background-color: grey;height:25px;" class="col-lg-10">
                        <p><b>Document Information</b></p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div style="margin-top: 4px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <label id="label-FARRequest" for="Far-request-id">FAR Request ID:</label>
                    </div>
                    <div class="col-lg-3">
                        <input class="input-box" type="text" asp-for="RequestId" id="Far-request-id" readonly />
                    </div>
                    <div class="col-lg-2">
                        <label id="label-FARRequest" for="Document-Status" asp-for="Status">DocumentStatus:</label>
                    </div>
                    <div class="col-lg-3">
                        <input class="input-box" type="text" id="Document-Status" value="Draft" readonly />
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div style="margin-top: 4px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <label style="margin-top: 5px;" for="Created-By">Created By:</label>
                    </div>
                    <div class="col-lg-3">
                        <input style="margin-top: 3px;" class="input-box" type="text" id="Created-By" asp-for="CreatedBy" readonly />
                    </div>
                    <div class="col-lg-2">
                        <label style="margin-top: 5px;" for="Created-On">Created On:</label>
                    </div>
                    <div class="col-lg-3">
                        <input style="margin-top: 3px;" type="text" id="Created-On" asp-for="CreatedOn" readonly />
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div style="background-color: grey;height:25px;margin-top: 10px;" class="col-lg-10">
                        <p><b>Request Information</b></p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="container-fluid">
                <div style="margin-top: 4px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <label for="Summary"><span id="red-text" class="red-text">*</span>Summary:</label>
                    </div>
                    <div class="col-lg-8">
                        <input style="width: 100%;" asp-for="Summary" type="text" id="Summary" required />
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div style="margin-top: 4px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <label for="Details" style="margin-top: 5px;"><span id="red-text">*</span>Details:</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" style="margin-top: 3px;width: 100%;" asp-for="Details" id="Details" required /><br>
                    </div>
                    <div class="col-lg-1"></div>
                    <input type="file" name="postedFiles" />
                </div>
            </div>
            <div class="container-fluid" hidden>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div style="background-color: grey;height:25px;margin-top: 10px;" class="col-lg-10">
                        <p><b>Approver Information</b></p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="container-fluid" hidden>
                <div style="margin-top: 4px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <label for="FirstApprover"><span id="red-text">*</span>Approver 1 Name:</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" id="FirstApprover" />
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div style="margin-top: 4px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <label for="first-Approver-comments"><span id="red-text">*</span>Comments:</label>
                    </div>
                    <div class="col-lg-8">
                        <input style="width: 100%;" type="text" id="first-Approver-comments" />
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div style="margin-top: 4px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <label for="First-Approver-Signature-date-stamp">Signature Date/Time:</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="date" id="First-Approver-Signature-date-stamp" />
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="container-fluid" hidden>
                <div style="margin-top: 10px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <label for="secondApprover"><span id="red-text">*</span>Approver 2 Name:</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" id="secondApprover" />
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div style="margin-top: 4px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <label for="second-Approver-comments"><span id="red-text">*</span>Comments:</label>
                    </div>
                    <div class="col-lg-8">
                        <input style="width: 100%;" type="text" id="second-Approver-comments" />
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div style="margin-top: 4px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-2">
                        <label for="second-Approver-Signature-date-stamp">Signature Date/Time:</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="date" id="second-Approver-Signature-date-stamp" />
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="container-fluid" hidden>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div style="background-color: grey;height:25px;margin-top: 10px;" class="col-lg-10">
                        <p><b>Document Event Log</b></p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div style="margin-bottom: 20px;" class="container-fluid" hidden>
                <div style="margin-top: 10px;" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <p>Document is created by Madhava Rao</p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div>@ViewBag.SuccessResult</div>
            </form>
            @*<script>
                    var today=new Date();
                    var date=today.getDay()+"-"+(today.getMonth()+1)+"-"+today.getFullYear()+" "
                                +today.getHours()+":"+today.getMinutes();
                    document.getElementById("currentdate").innerHTML=date;
            </script>*@
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </body>
</html>