@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Mvc.Rendering
@model FARApplication.Web.Models.FAR
@{
    Layout = null;
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>FAR Requst</title>
    <link href="~/asset/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/asset/toastr/css/toastr.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/asset/toastr/js/toastr.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <form enctype="multipart/form-data" asp-controller="FAR" asp-action="Index" method="post">
        <div style="background-color: black" class="container-fluid">
            <asp-for></asp-for>
            <button class="close-btn" type="button" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");"><i class="fa fa-close"></i> Close</button>

            @if (ViewBag.SuccessResult == null)
            {
                <button class="save-btn" type="submit" name="command" value="Save"><i class="fa fa-save"></i> Save</button>
                <button class="save-close-btn" type="submit" name="command" value="SaveClose"><i class="fa fa-save"></i> Save & Close</button>
                <button class="submit-button" type="submit" name="command" value="Submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit for Approval</button>

            }

        </div>

        <partial name="_HeaderPartial" />



        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5"></div>
                <div class="col-lg-5">
                    <p style="white-space: nowrap ;text-align: right;" id="warning"><span id="red-text"> Note:</span> Fields marked with<span id="red-text">*</span> are mandatory</p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1"></div>
                <div style="background-color: grey;height:25px;" class="col-lg-10">
                    <p><b>Document Information</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div style="margin-top: 4px;" class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label id="label-FARRequest" for="Far-request-id">FAR Request ID:</label>
                </div>
                <div class="col-lg-3">
                    <input class="input-box" type="text" asp-for="RequestId" id="Far-request-id" readonly />
                </div>
                <div class="col-lg-2">
                    <label id="label-FARRequest" for="Document-Status" asp-for="Status">DocumentStatus:</label>
                </div>
                <div class="col-lg-3">
                    <input class="input-box" type="text" id="Document-Status" value="Draft" readonly />
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div style="margin-top: 4px;" class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label style="margin-top: 5px;" for="Created-By">Created By:</label>
                </div>
                <div class="col-lg-3">
                    <input style="margin-top: 3px;" class="input-box" type="text" id="Created-By" asp-for="CreatedBy" readonly />
                </div>
                <div class="col-lg-2">
                    <label style="margin-top: 5px;" for="Created-On">Created On:</label>
                </div>
                <div class="col-lg-3">
                    <input style="margin-top: 3px;" type="text" id="Created-On" asp-for="CreatedOn" readonly />
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1"></div>
                <div style="background-color: grey;height:25px;margin-top: 10px;" class="col-lg-10">
                    <p><b>Request Information</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div style="margin-top: 4px;" class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label for="Summary"><span id="red-text" class="red-text">*</span>Summary:</label>
                </div>
                <div class="col-lg-8">
                    <textarea style="width: 100%;" id="Summary" asp-for="Summary" rows="3" cols="50" required></textarea>
                    @*<input style="width: 100%;" asp-for="Summary" type="text" id="Summary" required /> <br>*@
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div style="margin-top: 4px;" class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                    <label for="Details" style="margin-top: 5px;"><span id="red-text"> *</ span > Details:</label>
                </div>
                <div class="col-lg-4">
                    <textarea style="width: 100%;" id="Details" asp-for="Details" rows="3" cols="50" required></textarea><br>
                    @*<input type="file" name="Upload File" accept=".xlsx, .xls" style="margin-top: 3px;width: 100%;" asp-for="Details" id="Details" required />*@
                </div>
                <div class="col-lg-4">
                    <input type="file" accept=".xlsx, .xls" asp-for="Filename" style="margin-top: 3px;width: 100%;" name="postedFiles" />
                    @*                        <input type="file" name="Upload File" accept=".xlsx, .xls" style="margin-top: 3px;width: 100%;" asp-for="Attachments" id="Attachments" required />*@
                </div>
                <div class="col-lg-1"></div>
                @*<input type="file" name="postedFiles" />*@
            </div>
        </div>
        <div class="container-fluid" hidden>
            <div class="row">
                <div class="col-lg-1"></div>
                <div style="background-color: grey;height:25px;margin-top: 10px;" class="col-lg-10">
                    <p><b>Approver Information</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="container-fluid" hidden>
            <div class="row">
                <div class="col-lg-1"></div>
                <div style="background-color: grey;height:25px;margin-top: 10px;" class="col-lg-10">
                    <p><b>Document Event Log</b></p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div style="margin-bottom: 20px;" class="container-fluid" hidden>
            <div style="margin-top: 10px;" class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <p>Document is created by Madhava Rao</p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>

    </form>

    <script src="~/asset/bootstrap/js/bootstrap.bundle.min.js"></script>

    @if (ViewBag.SuccessResult != null)
    {
        <script type="text/javascript">

        window.onload = function () {

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "positionClass": "toast-top-center",
                    "onclick": null,

                    "showMethod": "show",
                    "hideMethod": "fadeOut",
                    "timeOut": 0,
                    "extendedTimeOut": 0
                }
                toastr.success("@ViewBag.SuccessResult", 'Success');

        }
        </script>
    }

    @if (ViewBag.FailureResult != null)
    {
        <script type="text/javascript">

        window.onload = function () {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-center",
                "onclick": null,

                "showMethod": "show",
                "hideMethod": "fadeOut",
                "timeOut": 0,
                "extendedTimeOut": 0
            }
            toastr.error("@ViewBag.FailureResult", 'Error');

        }

        </script>
    }

</body>
</html>