
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    <h2>@ViewBag.ErrorMsg</h2>
    @Html.ActionLink("Go Back", "Index", "Home", new { @class = "link-dark" })
</body>
</html>
