@using Microsoft.AspNetCore.Http
@using  FARApplication.Web.Utility
@inject IHttpContextAccessor HttpContextAccessor
@{ 
    var SessionUSer = HttpContextAccessor.HttpContext.Session.getObjectAsJson<User>("UserDetails") ;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <img class="ibmimg" style="width:120px" src="~/asset/images/IBM-Emblem.png">
        </div>
        <div class="col-md-4">
            <h2 class="heading"><b>FAR Requests Application</b></h2>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <button class="btn-outline-dark" style="margin:16px;" type="button" onclick="@("window.location.href='" + @Url.Action("Logout", "Home") + "'");"> Logout</button>
        </div>

    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <p class="logged-in-user"><b>Welcome </b><span> @String.Concat(SessionUSer?.FirstName, " ", SessionUSer?.LastName)</span></p>
        </div>
        <div class="col-md-4">
            <div class="far-reqest-date" id="currentdate"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr style="height:3px;margin-top: -4px;border:none;color:grey;background-color:#333;" />
</div>

