@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <img class="ibmimg" style="width:120px" src="~/asset/images/IBM-Emblem.png">
            </div>
            <div class="col-lg-4">
                <h2 class="heading"><b>FAR Requests Application</b></h2>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <p class="logged-in-user"><b>Welcome </b><span> @HttpContextAccessor.HttpContext.Session.GetString("UserEmail")</span></p>
            </div>
            <div class="col-lg-5">
                <div class="far-reqest-date" id="currentdate"></div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <hr style="height:3px;margin-top: -4px;border:none;color:grey;background-color:#333;" />
    </div>
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FARApplication.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (HttpContextAccessor.HttpContext.Session != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Welcome @HttpContextAccessor.HttpContext.Session.GetString("UserEmail") Logout </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>*@
</header>